---
- name: Configure Repositories
  block:
      - include_vars: "{{ role_path }}/vars/repositories.yml"
      - include_tasks: repositories.yml
  tags: repositories

- name: Install Packages
  block:
      - include_tasks: install.yml
  tags: install

- name: Configure Packages
  block:
      - include_tasks: configure.yml
  tags: configure

- name: Start Services
  block:
      - include_tasks: start.yml
  tags: start
